{
  "name": "ASATT",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style.scss",
      "imports": [
        "settings/variables.scss",
        "settings/mixins.scss",
        "settings/fonts.scss",
        "vendor/bootstrap/bootstrap.scss",
        "vendor/swiper/swiper.scss",
        "vendor/jquery.fancybox.scss",
        "vendor/ninja-forms/st-default.scss",
        "vendor/cookie.scss",
        "vendor/gutenberg/style.scss",
        "elements/type-html.scss",
        "elements/type-body.scss",
        "elements/type-headings.scss",
        "elements/type-a.scss",
        "elements/type-img.scss",
        "elements/type-button.scss",
        "elements/type-hr.scss",
        "elements/type-input.scss",
        "elements/type-list.scss",
        "elements/type-p.scss",
        "components/header.scss",
        "components/hero.scss",
        "components/partners.scss",
        "components/persons.scss",
        "components/activities.scss",
        "components/general.scss",
        "components/map.scss",
        "components/leading.scss",
        "components/main-navigation.scss",
        "components/side-navigation.scss",
        "components/services.scss",
        "components/pagination.scss",
        "components/footer.scss",
        "vendor/bootstrap/_functions.scss",
        "vendor/bootstrap/_variables.scss",
        "vendor/bootstrap/_mixins.scss",
        "vendor/bootstrap/_root.scss",
        "vendor/bootstrap/_reboot.scss",
        "vendor/bootstrap/_grid.scss",
        "vendor/bootstrap/_tables.scss",
        "vendor/bootstrap/_alert.scss",
        "vendor/bootstrap/_list-group.scss",
        "vendor/bootstrap/_tooltip.scss",
        "vendor/bootstrap/_utilities.scss",
        "vendor/swiper/functions.scss",
        "vendor/swiper/components/core/core.scss",
        "vendor/swiper/components/a11y/a11y.scss",
        "vendor/swiper/components/effect-fade/effect-fade.scss",
        "vendor/swiper/components/lazy/lazy.scss",
        "vendor/swiper/components/navigation/navigation.scss",
        "vendor/swiper/components/scrollbar/scrollbar.scss",
        "vendor/swiper/components/thumbs/thumbs.scss",
        "vendor/swiper/components/zoom/zoom.scss",
        "vendor/swiper/components/pagination/pagination.scss",
        "vendor/gutenberg/_colors.scss",
        "vendor/gutenberg/_breakpoints.scss",
        "vendor/gutenberg/_mixins.scss",
        "vendor/gutenberg/_variables.scss",
        "vendor/gutenberg/_z-index.scss",
        "vendor/gutenberg/theme.scss",
        "vendor/gutenberg/audio/style.scss",
        "vendor/gutenberg/button/style.scss",
        "vendor/gutenberg/calendar/style.scss",
        "vendor/gutenberg/columns/style.scss",
        "vendor/gutenberg/cover/style.scss",
        "vendor/gutenberg/embed/style.scss",
        "vendor/gutenberg/file/style.scss",
        "vendor/gutenberg/gallery/style.scss",
        "vendor/gutenberg/image/style.scss",
        "vendor/gutenberg/latest-comments/style.scss",
        "vendor/gutenberg/latest-posts/style.scss",
        "vendor/gutenberg/media-text/style.scss",
        "vendor/gutenberg/paragraph/style.scss",
        "vendor/gutenberg/pullquote/style.scss",
        "vendor/gutenberg/quote/style.scss",
        "vendor/gutenberg/search/style.scss",
        "vendor/gutenberg/separator/style.scss",
        "vendor/gutenberg/subhead/style.scss",
        "vendor/gutenberg/table/style.scss",
        "vendor/gutenberg/text-columns/style.scss",
        "vendor/gutenberg/video/style.scss",
        "vendor/bootstrap/mixins/_breakpoints.scss",
        "vendor/bootstrap/mixins/_hover.scss",
        "vendor/bootstrap/mixins/_image.scss",
        "vendor/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap/mixins/_size.scss",
        "vendor/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap/mixins/_text-hide.scss",
        "vendor/bootstrap/mixins/_text-truncate.scss",
        "vendor/bootstrap/mixins/_visibility.scss",
        "vendor/bootstrap/mixins/_alert.scss",
        "vendor/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap/mixins/_lists.scss",
        "vendor/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap/mixins/_transition.scss",
        "vendor/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap/mixins/_grid.scss",
        "vendor/bootstrap/mixins/_float.scss",
        "vendor/bootstrap/utilities/_clearfix.scss",
        "vendor/bootstrap/utilities/_display.scss",
        "vendor/bootstrap/utilities/_flex.scss",
        "vendor/bootstrap/utilities/_position.scss",
        "vendor/bootstrap/utilities/_sizing.scss",
        "vendor/bootstrap/utilities/_spacing.scss",
        "vendor/bootstrap/utilities/_text.scss",
        "vendor/gutenberg/code/theme.scss",
        "vendor/gutenberg/preformatted/theme.scss",
        "vendor/gutenberg/pullquote/theme.scss",
        "vendor/gutenberg/quote/theme.scss",
        "vendor/gutenberg/search/theme.scss",
        "vendor/gutenberg/separator/theme.scss",
        "vendor/gutenberg/table/theme.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/_mixins.scss",
      "imports": [
        "vendor/bootstrap/mixins/_breakpoints.scss",
        "vendor/bootstrap/mixins/_hover.scss",
        "vendor/bootstrap/mixins/_image.scss",
        "vendor/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap/mixins/_size.scss",
        "vendor/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap/mixins/_text-hide.scss",
        "vendor/bootstrap/mixins/_text-truncate.scss",
        "vendor/bootstrap/mixins/_visibility.scss",
        "vendor/bootstrap/mixins/_alert.scss",
        "vendor/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap/mixins/_lists.scss",
        "vendor/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap/mixins/_transition.scss",
        "vendor/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap/mixins/_grid.scss",
        "vendor/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/_utilities.scss",
      "imports": [
        "vendor/bootstrap/utilities/_clearfix.scss",
        "vendor/bootstrap/utilities/_display.scss",
        "vendor/bootstrap/utilities/_flex.scss",
        "vendor/bootstrap/utilities/_position.scss",
        "vendor/bootstrap/utilities/_sizing.scss",
        "vendor/bootstrap/utilities/_spacing.scss",
        "vendor/bootstrap/utilities/_text.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/bootstrap-grid.scss",
      "imports": [
        "vendor/bootstrap/_functions.scss",
        "vendor/bootstrap/_variables.scss",
        "vendor/bootstrap/mixins/_breakpoints.scss",
        "vendor/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap/mixins/_grid.scss",
        "vendor/bootstrap/_grid.scss",
        "vendor/bootstrap/utilities/_display.scss",
        "vendor/bootstrap/utilities/_flex.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "vendor/bootstrap/_functions.scss",
        "vendor/bootstrap/_variables.scss",
        "vendor/bootstrap/_mixins.scss",
        "vendor/bootstrap/_reboot.scss",
        "vendor/bootstrap/mixins/_breakpoints.scss",
        "vendor/bootstrap/mixins/_hover.scss",
        "vendor/bootstrap/mixins/_image.scss",
        "vendor/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap/mixins/_size.scss",
        "vendor/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap/mixins/_text-hide.scss",
        "vendor/bootstrap/mixins/_text-truncate.scss",
        "vendor/bootstrap/mixins/_visibility.scss",
        "vendor/bootstrap/mixins/_alert.scss",
        "vendor/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap/mixins/_lists.scss",
        "vendor/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap/mixins/_transition.scss",
        "vendor/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap/mixins/_grid.scss",
        "vendor/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/bootstrap.scss",
      "imports": [
        "vendor/bootstrap/_functions.scss",
        "vendor/bootstrap/_variables.scss",
        "vendor/bootstrap/_mixins.scss",
        "vendor/bootstrap/_root.scss",
        "vendor/bootstrap/_reboot.scss",
        "vendor/bootstrap/_grid.scss",
        "vendor/bootstrap/_tables.scss",
        "vendor/bootstrap/_alert.scss",
        "vendor/bootstrap/_list-group.scss",
        "vendor/bootstrap/_tooltip.scss",
        "vendor/bootstrap/_utilities.scss",
        "vendor/bootstrap/mixins/_breakpoints.scss",
        "vendor/bootstrap/mixins/_hover.scss",
        "vendor/bootstrap/mixins/_image.scss",
        "vendor/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap/mixins/_size.scss",
        "vendor/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap/mixins/_text-hide.scss",
        "vendor/bootstrap/mixins/_text-truncate.scss",
        "vendor/bootstrap/mixins/_visibility.scss",
        "vendor/bootstrap/mixins/_alert.scss",
        "vendor/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap/mixins/_lists.scss",
        "vendor/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap/mixins/_transition.scss",
        "vendor/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap/mixins/_grid.scss",
        "vendor/bootstrap/mixins/_float.scss",
        "vendor/bootstrap/utilities/_clearfix.scss",
        "vendor/bootstrap/utilities/_display.scss",
        "vendor/bootstrap/utilities/_flex.scss",
        "vendor/bootstrap/utilities/_position.scss",
        "vendor/bootstrap/utilities/_sizing.scss",
        "vendor/bootstrap/utilities/_spacing.scss",
        "vendor/bootstrap/utilities/_text.scss"
      ]
    },
    {
      "path": "vendor/gutenberg/style.scss",
      "imports": [
        "vendor/gutenberg/_colors.scss",
        "vendor/gutenberg/_breakpoints.scss",
        "vendor/gutenberg/_mixins.scss",
        "vendor/gutenberg/_variables.scss",
        "vendor/gutenberg/_z-index.scss",
        "vendor/gutenberg/theme.scss",
        "vendor/gutenberg/audio/style.scss",
        "vendor/gutenberg/button/style.scss",
        "vendor/gutenberg/calendar/style.scss",
        "vendor/gutenberg/columns/style.scss",
        "vendor/gutenberg/cover/style.scss",
        "vendor/gutenberg/embed/style.scss",
        "vendor/gutenberg/file/style.scss",
        "vendor/gutenberg/gallery/style.scss",
        "vendor/gutenberg/image/style.scss",
        "vendor/gutenberg/latest-comments/style.scss",
        "vendor/gutenberg/latest-posts/style.scss",
        "vendor/gutenberg/media-text/style.scss",
        "vendor/gutenberg/paragraph/style.scss",
        "vendor/gutenberg/pullquote/style.scss",
        "vendor/gutenberg/quote/style.scss",
        "vendor/gutenberg/search/style.scss",
        "vendor/gutenberg/separator/style.scss",
        "vendor/gutenberg/subhead/style.scss",
        "vendor/gutenberg/table/style.scss",
        "vendor/gutenberg/text-columns/style.scss",
        "vendor/gutenberg/video/style.scss",
        "vendor/gutenberg/code/theme.scss",
        "vendor/gutenberg/preformatted/theme.scss",
        "vendor/gutenberg/pullquote/theme.scss",
        "vendor/gutenberg/quote/theme.scss",
        "vendor/gutenberg/search/theme.scss",
        "vendor/gutenberg/separator/theme.scss",
        "vendor/gutenberg/table/theme.scss"
      ]
    },
    {
      "path": "vendor/gutenberg/theme.scss",
      "imports": [
        "vendor/gutenberg/code/theme.scss",
        "vendor/gutenberg/preformatted/theme.scss",
        "vendor/gutenberg/pullquote/theme.scss",
        "vendor/gutenberg/quote/theme.scss",
        "vendor/gutenberg/search/theme.scss",
        "vendor/gutenberg/separator/theme.scss",
        "vendor/gutenberg/table/theme.scss"
      ]
    },
    {
      "path": "vendor/hamburgers/hamburgers.scss",
      "imports": [
        "vendor/hamburgers/_base.scss",
        "vendor/hamburgers/types/_collapse.scss",
        "vendor/hamburgers/types/_collapse-r.scss"
      ]
    },
    {
      "path": "vendor/swiper/swiper.scss",
      "imports": [
        "vendor/swiper/functions.scss",
        "vendor/swiper/components/core/core.scss",
        "vendor/swiper/components/a11y/a11y.scss",
        "vendor/swiper/components/effect-fade/effect-fade.scss",
        "vendor/swiper/components/lazy/lazy.scss",
        "vendor/swiper/components/navigation/navigation.scss",
        "vendor/swiper/components/scrollbar/scrollbar.scss",
        "vendor/swiper/components/thumbs/thumbs.scss",
        "vendor/swiper/components/zoom/zoom.scss",
        "vendor/swiper/components/pagination/pagination.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7923,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../\"},\"compiler-node-sass\":{\"outputStyle\":\"expanded\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}