.activities {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6rem;

  .activity-article {
    a {
      display: flex;
      flex-flow: wrap;
      align-items: center;

      .activity-article--visual {
        width: 20rem;
        height: 20rem;
        @include transition;
        position: relative;

        .activity-article--category {
          position: absolute;
          left: 1.5rem;
          top: 1.5rem;
          background-color: $primary-color;
          font-size: 1rem;
          font-weight: normal;
          display: block;
          padding: .25rem 1rem;
          color: white;
          border-radius: 3rem;
        }
      }

      .activity-article--content {
        padding: 2.5rem;

        .activity-article--date {
          font-size: 1.2rem;
        }

        .activity-article--title {
          color: $primary-color;
          font-size: 2rem;
        }
      }

      &:hover, &:focus {
        background-color: $off-white;

        .activity-article--visual {
          transform: translateY(-1rem);
          @include boxShadow;
        }
      }
    }
  }
}