.partner-slider {
  padding: 4vw 0;
  text-align: center;

  .partner-slider--title {
    font-size: 3rem;
    margin-bottom: 5rem;

    &:after {
      content: '.';
      display: inline-block;
      color: $primary-color;
    }
  }

  .swiper-wrapper {
    align-items: center;
  }

  .partner-slide {
    padding: 1rem;

    .partner-slide--visual img {
      width: 15rem;
      height: 5rem;
      filter: grayscale(100%) opacity(.5);
      display: block;
      margin: 0 auto;
      @include transition;
      object-fit: contain;

      &[src*="mars"] {
        height: 3rem;
      }

      &:hover, &:focus {
        filter: none;
      }
    }
  }
}

.partner-grid {
  display: grid;
  border-top: 1px solid $gray-light;
  border-left: 1px solid $gray-light;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));
  @include media-breakpoint-down(md) {
    margin-bottom: 5rem;
  }

  .partner-grid--block {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $gray-light;
    border-right: 1px solid $gray-light;
    @include transition;

    .grid-block--visual {
      max-width: 20rem;
      height: 7rem;
      filter: grayscale(100%) opacity(.5);
      margin: 0 auto;
      @include transition;
      object-fit: contain;
    }

    &:hover, &:focus {
      background: $off-white;

      .grid-block--visual {
        filter: none;
      }
    }
  }
}
